.product-page .thumbs {
  display: flex;
  flex-direction: column;
  animation: none;
}

.product-page .carousel-root {
  display: grid;
  grid-template-columns: 0.25fr 1fr ;
}

.product-page .carousel-slider {
  order: 1;
}

.product-page ul.thumbs.animated {
  transform: translate3d(0px, 0px, 0px) !important; /* Use !important to ensure it takes precedence over inline styles */
  transition-duration: 350ms; /* Set any other styles you want to overwrite */
}